{% extends 'todo/base.html' %}
{% load bootstrap4 %}
{% block header %}
    <h2>Register</h2>
{% endblock header%}

{% block content %}

    <form class="form" action="{% url 'users:register' %}" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}

        {% buttons %}
            <button name="submit" class="btn btn-primary">Register</button>
        {% endbuttons %}
        <input type="hidden" name="next" value="{% url 'todo:index' %}">
    </form>

{% endblock content %}