{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Learning Log</title>

        {% bootstrap_css %}
        {% bootstrap_javascript %}

    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'todo:index' %}">Learning Log</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                {% comment %} <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'todo:topics' %}">Topics <span class="sr-only">(current)</span></a>
                    </li>
                </ul> {% endcomment %}
                <ul class="navbar-nav navbar-right">
                    {% if user.is_authenticated %}

                        <li class="nav-item">
                            <a class="nav-link" href="#">Hello, {{ user.username }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href = "{% url 'users:logout' %}">Log out</a>
                        </li>

                    {% else %}

                    <li class="nav-item">
                            <a class="nav-link" href="{% url 'users:register' %}">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href = "{% url 'users:userlogin' %}">Log in</a>
                        </li>

                    {% endif %}
                </ul>
                
                {% comment %} <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form> {% endcomment %}
            </div>
        </nav>
        <div class="container mt-5">
            {% comment %} <div class="page-header">
                {% block header %}{% endblock header%}
            </div> {% endcomment %}
            <div>
                {% block contentt %} {% endblock contentt %}
            </div>
        </div>
        <div class="row">
  <div class="col-3">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" id="v-pills-Inbox-tab" data-toggle="pill" href="{% url 'todo:items' %}" role="tab" aria-controls="v-pills-Inbox" aria-selected="true">收集箱</a>
      <a class="nav-link" id="v-pills-today-tab" data-toggle="pill" href="{% url 'todo:today' %}" role="tab" aria-controls="v-pills-today" aria-selected="false">今日待办</a>
      <a class="nav-link" id="v-pills-next-tab" data-toggle="pill" href="#v-pills-next" role="tab" aria-controls="v-pills-next" aria-selected="false">下一步行动</a>
      <a class="nav-link" id="v-pills-tomorrow-tab" data-toggle="pill" href="#v-pills-tomorrow" role="tab" aria-controls="v-pills-tomorrow" aria-selected="false">明日待办</a>
      <a class="nav-link" id="v-pills-schedule-tab" data-toggle="pill" href="#v-pills-schedule" role="tab" aria-controls="v-pills-schedule" aria-selected="false">日程</a>
      <a class="nav-link" id="v-pills-maybe-tab" data-toggle="pill" href="#v-pills-maybe" role="tab" aria-controls="v-pills-maybe" aria-selected="false">将来/也许</a>
      <a class="nav-link" id="v-pills-wait-tab" data-toggle="pill" href="#v-pills-wait" role="tab" aria-controls="v-pills-wait" aria-selected="false">等待</a>
    </div>
  </div>
  <div class="col-9">
    <div class="tab-content" id="v-pills-tabContent">
    {% block content %} {% endblock content %}
      {% comment %} <div class="tab-pane fade show active" id="v-pills-Inbox" role="tabpanel" aria-labelledby="v-pills-Inbox-tab">hello</div>
      <div class="tab-pane fade" id="v-pills-today" role="tabpanel" aria-labelledby="v-pills-today-tab">...</div>
      <div class="tab-pane fade" id="v-pills-next" role="tabpanel" aria-labelledby="v-pills-next-tab">...</div>
      <div class="tab-pane fade" id="v-pills-tomorrow" role="tabpanel" aria-labelledby="v-pills-tomorrow-tab">...</div>
      <div class="tab-pane fade" id="v-pills-schedule" role="tabpanel" aria-labelledby="v-pills-schedule-tab">...</div>
      <div class="tab-pane fade" id="v-pills-maybe" role="tabpanel" aria-labelledby="v-pills-maybe-tab">...</div>
      <div class="tab-pane fade" id="v-pills-wait" role="tabpanel" aria-labelledby="v-pills-wait-tab">...</div> {% endcomment %}
    </div>
  </div>
</div>
    </body>


{% comment %} <!DOCTYPE html>
<html>
<body>
    <p>
        <a href="{% url 'todo:index' %}">Learning Log</a> - 
        <a href="{% url 'todo:topics' %}">Topics</a>
        {% if user.is_authenticated %}
            Hello, {{ user.username }}
            <a href = "{% url 'users:logout' %}">log out</a>
        {% else %}
            <a href="{% url 'users:userlogin' %}">log in</a>
            <a href="{% url 'users:register' %}">register</a>
        {% endif %}
    </p>
    {% block content%} {% endblock content %}
</body>
</html> {% endcomment %}