{% extends "todo/base.html" %}
{% block content %}
  {% url 'todo:all' as url_all %}
  {% url 'todo:today' as url_today %}
  {% url 'todo:tomorrow' as url_tomorrow %}
  {% url 'todo:next_7_days' as url_next_7_days %}
  <div class="container-fluid">
    <div class="row">
      <nav id="sidebarMenu"
           class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="sidebar-sticky pt-3">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link {% if request.path == url_all %}active{% endif %}"
                 href="{% url 'todo:all' %}">
                 <i class="fa fa-list-squares"></i>
                <span>所有</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if request.path == url_today %}active{% endif %}"
                 href="{% url 'todo:today' %}">
                <i class="fas fa-sun">
                </i>
                <span>今天</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if request.path == url_tomorrow %}active{% endif %}"
                 href="{% url 'todo:tomorrow' %}">
                <i class="fas fa-calendar">
                </i>
                <span>明天</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if request.path == url_next_7_days %}active{% endif %}"
                 href="{% url 'todo:next_7_days' %}">
                <i class="fa-solid fa-calendar-week"></i>
                </i>
                <span>最近 7 天</span>
              </a>
            </li>
          </ul>
        </div>
      </nav>
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
        <section class="vh-100">
          <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
              <div class="col">
                <div class="card" id="list1">
                  <div class="card-body py-4 px-4 px-md-5">
                    <p class="h1 text-left mt-3 mb-4 pb-3 text-primary">
                      <i class="fas fa-check-square me-1"></i>
                      <u id="title">{{ title }}</u>
                    </p>
                    {{ form.media }}
                    <div class="pb-2">
                      <div class="card">
                        <div class="card-body">
                          <form class="d-flex flex-row align-items-center"
                                action = "{% url 'todo:new' %}"
                                method="post">
                            {% csrf_token %}
                            {{ form }}
                            <div>
                              <button type="submit" class="btn btn-primary">Add</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                    <hr class="my-4" />
                    <div class="d-flex justify-content-end align-items-center mb-4 pt-2 pb-3">
                      <p class="small mb-0 me-2 text-muted">Filter</p>
                      <select class="select">
                        <option value="1">
                          All
                        </option>
                        <option value="2">
                          Completed
                        </option>
                        <option value="3">
                          Active
                        </option>
                        <option value="4">
                          Has due date
                        </option>
                      </select>
                      <p class="small mb-0 ms-4 me-2 text-muted">Sort</p>
                      <select class="select">
                        <option value="1">
                          Added date
                        </option>
                        <option value="2">
                          Due date
                        </option>
                      </select>
                      <a href="#!"  data-mdb-toggle="tooltip" title="Ascending"><i class="fas fa-sort-amount-down-alt ms-2"></i></a>
                    </div>
                    {% for todo in todos %}
                      <ul class="list-group list-group-horizontal rounded-0 bg-transparent border-bottom">
                        <li class="list-group-item d-flex align-items-center ps-0 pe-3 py-1 rounded-0 border-0 bg-transparent">
                          <div class="form-check">
                            <input class="form-check-input me-0"
                                   type="checkbox"
                                   value=""
                                   id="flexCheckChecked1"
                                   aria-label="..."/>
                          </div>
                        </li>
                        <li class="list-group-item px-3 py-1 d-flex align-items-center flex-grow-1 border-0 bg-transparent">
                          <p class="lead fw-normal mb-0">{{ todo.desc }}</p>
                        </li>
                        <li class="list-group-item ps-3 pe-0 py-1 rounded-0 border-0 bg-transparent">
                          <div class="d-flex flex-row justify-content-end mb-1">
                            <a href="#!"
                               class="text-info"
                               data-mdb-toggle="tooltip"
                               title="Edit todo"><i class="fas fa-pencil-alt me-3"></i></a>
                            <a href="#!"
                               class="text-danger"
                               data-mdb-toggle="tooltip"
                               title="Delete todo"><i class="fas fa-trash-alt"></i></a>
                          </div>
                          <div class="text-end text-muted">
                            <a href="#!"
                               class="text-muted"
                               data-mdb-toggle="tooltip"
                               title="Created date">
                              <p class="small mb-0">
                                {% if todo.start_date %}
                                  <i class="fas fa-info-circle me-2"></i>
                                  {% load tz %}
                                  {{ todo.start_date | localtime }}
                                {% endif %}
                              </p>
                            </a>
                          </div>
                        </li>
                      </ul>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>
    {% load static %}
    <script src="{% static 'todo/js/get_html_when_need.js' %}"></script>
    <script>
      $(document).ready(function() {
          var datepicker = $.fn.datepicker.noConflict(); // return $.fn.datepicker to previously assigned value
          $.fn.bootstrapDP = datepicker; 
          $('.datepicker').bootstrapDP();
      })
    </script>
  </div>
{% endblock content %}
