{% load bootstrap4 %}
{{ form.media }}
<div class="pb-2">
    <div class="card">
        <div class="card-body">
            <form class="d-flex flex-row align-items-center"
                  action = "{% url 'todo:new_item' %}"
                  method="post">
                {% csrf_token %}
                {{ form.desc }}
                {{ form.start_date }}
                {% comment %} <a class="datepicker-btn"
                   href="#!"
                   data-mdb-toggle="tooltip"
                   title="Set due date"><i class="fas fa-calendar-alt fa-lg me-3"></i></a> {% endcomment %}
                <div>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('.datepicker').datepicker({});
        $('.datepicker-btn').click(function() {
            $('.datepicker').datepicker('show')
        })
    })
</script>
