<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <section class="vh-100">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col">
                    <div class="card"
                         id="list1"
                         style="border-radius: .75rem;
                                background-color: #eff1f2;">
                        <div class="card-body py-4 px-4 px-md-5">
                            <p class="h1 text-left mt-3 mb-4 pb-3 text-primary">
                                <i class="fas fa-check-square me-1"></i>
                                <u>{{ slug }}</u>
                            </p>
                            {% include 'todo/item_form.html' %}
                            {% include 'todo/table.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
