 <div class="col-3">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      {% for menu in menus %}
        <a class="nav-link" id="v-pills-{% menu %}-tab" data-toggle="pill" href="/{% menu %}/" role="tab" aria-controls="v-pills-{% menu %}" aria-selected="false"> {% menu.name %} </a>
      {% endfor %}
      {% comment %} <a class="nav-link active" id="v-pills-Inbox-tab" data-toggle="pill" href="{% url 'todo:items' %}" role="tab" aria-controls="v-pills-Inbox" aria-selected="true">收集箱</a>
      <a class="nav-link" id="v-pills-today-tab" data-toggle="pill" href="{% url 'todo:today' %}" role="tab" aria-controls="v-pills-today" aria-selected="false">今日待办</a>
      <a class="nav-link" id="v-pills-next-tab" data-toggle="pill" href="#v-pills-next" role="tab" aria-controls="v-pills-next" aria-selected="false">下一步行动</a>
      <a class="nav-link" id="v-pills-tomorrow-tab" data-toggle="pill" href="#v-pills-tomorrow" role="tab" aria-controls="v-pills-tomorrow" aria-selected="false">明日待办</a>
      <a class="nav-link" id="v-pills-schedule-tab" data-toggle="pill" href="#v-pills-schedule" role="tab" aria-controls="v-pills-schedule" aria-selected="false">日程</a>
      <a class="nav-link" id="v-pills-maybe-tab" data-toggle="pill" href="#v-pills-maybe" role="tab" aria-controls="v-pills-maybe" aria-selected="false">将来/也许</a>
      <a class="nav-link" id="v-pills-wait-tab" data-toggle="collapse" data-target="#test" href="#v-pills-wait" role="tab" aria-controls="v-pills-wait" aria-selected="false">等待</a> {% endcomment %}
    </div>
  </div>