{% load static %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-responsive.min.css' %}"/>
{% comment %} Use Django Admin Widgets {% endcomment %}
<script src="{% url 'todo:js-catlog' %}"></script>
<script src="{% static '/admin/js/core.js' %}"></script>
<link rel="stylesheet" href="{% static '/admin/css/base.css' %}"/>
<link rel="stylesheet" href="{% static '/admin/css/widgets.css' %}"/>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<div>
    <input type="text" class="datepicker" />
</div>
<script>
    $('.datepicker').datepicker({});
</script>

<h1> form1 </h1>
<form action="" method="post">
    {{ item_form }}
</form>
<h1> form2 </h1>
{{ form2.media }}
<form action="" method="post">
    {{ form2 }}
</form>