<h1> url 中 instance namespace 的使用 </h1>
<p>下方两个页面,使用相同的 app 'pay' 处理两个不同的请求（customer和employedd）</p>
<a href="{% url 'print_current_page_url-customer:index' %}"><button>customer 页面</button></a>
<a href="{% url 'print_current_page_url-employee:index' %}"><button>employee 页面</button></a>
<p>按钮的 URL 通过 url reverse 生成: url 'print_current_page_url-employee:index',这里直接使用了 instance namespace 因为 url reverse 时
如果传入的 application name 与当前 app name 不同，就会向上寻找 instance name </p>
<hr>
同时，在页面中的 url reverse 'print_current_page_url:index' 可以正常工作，他先找到 app 的 url 后找到 instance 的 url：
<h3>当前页面的 URL 是 {% url 'print_current_page_url:index' %} </h3>

